.projects{

padding:140px 24px;

max-width:1200px;

margin:auto;


h1{

font-size:60px;

}



.grid{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(300px,1fr));

gap:32px;

margin-top:60px;

}

}